resource "google_service_account" {{ service_account_id }} {
  project      = module.{{ project_id }}.project_id
  account_id   = "{{ service_account_id }}"
  display_name = "{{ service_account_display_name }}"
  description  = "{{ service_account_description }}"
}